/* @import url(fonts.googleapis.com/css?family=Lato); */
.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    color: white;
    background: rgba(0, 0, 139, 0.1);
    font-family: Lato; 

}

    .header__logo {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px 20px;
    }
    .header__logo p {
        margin-left: 10px;
        font-style: italic;
        
    }

    .header__logo h1 {
        color: rgb(46, 136, 238);
        font-weight: bold;
    }

    .header__logo h4 {
        font-weight: bold;
        color: white;
    }

    #slash {
        margin-left:30px; 
    }
        .header__logo > img {
            height: 50px;
        }

    

