.phone-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: Lato;
}

  .description {
    max-width: 100vh;
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
  
  }
    .description p {
        font-size: 10px;
        color: rgb(144, 144, 145);
        text-align: center;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        top:90px;

    }

        .detail-left {
           
            margin-left: 1;
            display: flex;
            flex-flow: column wrap;
            position: relative;
            right: 30px
        }

        .detail-center__img {
            max-width: 200px;  
            background-size: cover;
        }

           .item-left {
            display: flex;
            flex-flow: column wrap;   
            align-content: space-between;
            width: 300px;
            height: auto;
            padding: relative;
            top: 30px;
            left: 100px;
            padding: 20px;
           }

           .item-left  h2 {
                font-size: 15px;
                font-weight: bold;
                padding-left: 20px;
            }

            .item-left  p {
                font-size: 10px;
                color: rgb(144, 144, 145);
                padding-left: 46px;     
            
            }

           .item-left__title {
              display: flex;
           }

           .item-left__icon-setting {
                width: 26px;
                height: 26px;
                background: url('/images/customize.png');
                background-size: cover;
           }

           .item-left__icon-timer {
                width: 26px;
                height: 26px;
                background: url('/images/time.png');
                background-size: cover;
           }

           .item-left__icon-music {
                width: 26px;
                height: 30px;
                background: url('/images/Music.png');
                background-size: cover;   
           }

           .item-left__icon-account {
                width: 26px;
                height: 26px;
                background: url('/images/support.png');
                background-size: cover;
           }

           .item-left__icon-triangle {
                width: 26px;
                height: 26px;
                background: url('/images/send.png');
                background-size: cover;
           }

           .item-left__icon-photo {
                width: 30px;
                height: 26px;
                background: url('/images/camera.png');
                padding-right: 2px;
                background-repeat: no-repeat;
           }

        .detail-right {
            display: flex;
            flex-flow: column wrap;
            position: relative;
            left: 40px;
        }
    
      .functions-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 0px 40px;
      }

      .functions-title  h1 {
        color: rgb(46, 136, 238);
        font-weight: bold;
        font-size: 25px;
      }

      .functions-text p{
        font-size: 10px;
        color: rgb(144, 144, 145);
        text-align: center;   
      }

      .category {
        display: flex;
        padding: 30px 100px;
      }

      .category-link {
        font-size: 11px;
        padding: 3px 19px;
      }

      .category-link-one {
        font-size: 11px;
        padding: 3px 19px;
        background: rgb(46, 136, 238);
        border-radius: 3px;
        color: white;
    
      }